@import 'global.scss';

#heading-email {
  font-size: 32px;
  font-family: 'Unica_One', Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 25px;
}

#subheading-email {
  font-size: 48px;
  text-align: center;
}

@media (max-width: 400px) {
    #heading-email {
        font-size: 16px;
    }
    #subheading-email {
        font-size: 22px;
       
      }
}
