.contact-heading {
    font-family: 'Unica_One', Arial, Helvetica, sans-serif;
}

.contact-label-heading {
    font-family: 'Unica_One', Arial, Helvetica, sans-serif;;
}
//border for inputs
.form-control {
    border: 2px solid #fcc3b9
}

@media (max-width: 400px) {

}