#services-heading {
  margin-top: 25px;
  margin-bottom: 50px;
}

.services-subheading {
  font-style: 'Unica_One' !important;
  margin: 25px;
}

.services-body {
  font-size: 24px;
  margin: 20px;
  color: rgb(58, 58, 58);
  //font-family: 'hind';
}